/* styles.css */
#map {
    height: 600px;
    width: 100%;
}

.bola-pais {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
}

.bola-usa {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg');
}

.bola-canada {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Canada.svg');
}

.arma {
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
}

.bazuca {
    background-image: url('bazuca.png');
}

#marcador {
    font-size: 24px;
    margin: 20px;
}

#controls {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#estadisticas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
.fixed {
    display: flex;
}
